@tailwind base;
@tailwind components;
@tailwind utilities;

.text-field {
  @apply w-full px-4 py-2 focus:outline-none shadow-sm focus:outline-1 text-gray-500 bg-white;
}

.container-glass {
  @apply h-[200px] w-[450px] absolute z-10 bottom-7 left-7;
}
.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  border-radius: 20px;

  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* menu navigasi landing page */

.nav-landing {
  @apply w-[120px] py-1 text-center rounded-full;
}
.nav-active {
  @apply bg-white;
}
.nav-container {
  @apply flex justify-between items-center max-w-screen-xl mx-auto  mt-[2rem] px-5;
}
.menu-container {
  @apply flex items-center gap-5 px-1 py-1 rounded-full font-medium text-lg bg-gray-100 text-gray-800;
}
.btn-trial {
  @apply bg-blue-800 text-gray-50 lg:px-10 px-9 lg:py-3 py-3 rounded-full lg:text-lg lg:font-medium shadow-lg hover:bg-blue-600 transition-colors;
}
/* --- end menu navigasi landing page */

.client-hover {
  @apply fill-blue-700;
}
